@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Teknaf";
  src: url("/fonts/TeknafRegular-rv0aB.otf") format("opentype");
}

:root {
  background: black;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  width: 0; /* Chrome and Safari */
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: black;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

/* Add to your global CSS */
.typing-animation::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
