@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Teknaf";
  src: url("/fonts/TeknafRegular-rv0aB.otf") format("opentype");
}
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}